<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>StationsServlet</servlet-name>
        <servlet-class>Controller.StationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigateServlet</servlet-name>
        <servlet-class>Controller.NavigateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HemoglobinServlet</servlet-name>
        <servlet-class>HemoglobinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultsServlet</servlet-name>
        <servlet-class>Controller.ResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BPServlet</servlet-name>
        <servlet-class>BPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeightWeight</servlet-name>
        <servlet-class>HeightWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeightWeightServlet</servlet-name>
        <servlet-class>HeightWeightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlucoseServlet</servlet-name>
        <servlet-class>GlucoseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>Controller.CheckInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicsServlet</servlet-name>
        <servlet-class>BasicsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StationsServlet</servlet-name>
        <url-pattern>/StationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigateServlet</servlet-name>
        <url-pattern>/NavigateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HemoglobinServlet</servlet-name>
        <url-pattern>/HemoglobinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsServlet</servlet-name>
        <url-pattern>/ResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPServlet</servlet-name>
        <url-pattern>/BPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeightWeight</servlet-name>
        <url-pattern>/HeightWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeightWeightServlet</servlet-name>
        <url-pattern>/HeightWeightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlucoseServlet</servlet-name>
        <url-pattern>/GlucoseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInServlet</servlet-name>
        <url-pattern>/CheckInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicsServlet</servlet-name>
        <url-pattern>/BasicsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>3600</session-timeout>
    </session-config>
</web-app>
